.side-cart{
    background-color: darkslategrey;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top:0px;
}

.proceed-cart-button{
    background-color: goldenrod;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.proceed-order-button{
    background-color: goldenrod;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.delete-cart-button{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(170, 55, 55);
}