.full-review-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin-top: 10px;

}
.review-container{


        height: 70vh;
        overflow-y: scroll;
    
    
   
}


.order-cart-container{
    height: 50vh;
}